////////////////////////////////////////////////////////////////////////
// Pre-sets must be done BEFORE a module is imported. Some of these settings are at the top, while others
// are right before the import statement.
////////////////////////////////////////////////////////////////////////

@import "pivotal.palette";

// Spring's palette (found on spring.io)
$spring-green: #6db33f;
$spring-black: #34302d;
$spring-antique-white: #F1F1F1;
$spring-bright-white: #f9f9f9;
$spring-white: #eee;

// pivotal.io coloring
$brand-color: $green-2;
$brand-highlight: white;
$brand-highlight2: $spring-antique-white;
$brand-lowlight: $teal-3;

$inuit-base-background-color: $spring-antique-white;

//$inuit-base-font-size:  12px;
$inuit-base-line-height:  18px;

////////////////////////////////////////////////////////////////////////
// Here are the layers of inuit. Each layer needs to have its order preserved, but modules within the same layer
// can be imported in any order.
////////////////////////////////////////////////////////////////////////

// Settings layer
@import "../../../bower_components/inuit-defaults/settings.defaults";
@import "../../../bower_components/inuit-responsive-settings/settings.responsive";

// Tools layer
@import "../../../bower_components/inuit-functions/tools.functions";
@import "../../../bower_components/inuit-mixins/tools.mixins";
@import "../../../bower_components/inuit-responsive-tools/tools.responsive";
@import "../../../bower_components/inuit-tools-widths/tools.widths";

// Generic layer
@import "../../../bower_components/inuit-normalize/generic.normalize";
@import "../../../bower_components/inuit-box-sizing/generic.box-sizing";

@import "../../../bower_components/inuit-page/base.page";

// Objects layer
$inuit-enable-layout--large: true;
@import "../../../bower_components/inuit-layout/objects.layout";

$inuit-enable-table--rows: true;
$inuit-enable-table--cosy: true;
@import "../../../bower_components/inuit-tables/objects.tables";

@import "../../../bower_components/inuit-widths/trumps.widths";
@import "../../../bower_components/inuit-widths-responsive/trumps.widths-responsive";

// Dress up the top row of a "page"
// Add a small amount of padding at the bottom of a "page"
$inuit-base-spacing-unit--tiny: round($inuit-base-spacing-unit / 8);
.page {
  border-top: $brand-color solid 4px;
  color: $brand-highlight;
  background-color: $brand-lowlight;
  width: 100%;
  margin-top: 0em;
  padding-bottom: $inuit-base-spacing-unit--tiny;
}

// Wrap a given block with insets so it isn't pushed to the edge of the browser
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

// Fine tune the bar at the top, so it shrinks vertically on portable devices
h1 {
  @include media-query(portable) {
    margin: 0.1em 0;
  }
}

// Add striping to odd rows of a table (not header)
tbody tr:nth-child(odd) {
  background-color: $spring-bright-white;
}

/*Classes for creating dialogs*/

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
