<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css' />
    <link href='/favicon.png' rel='icon' type='image/png' />
    <title>Spinnaker Deployer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0"/>
    <link rel="stylesheet" href="built/main.css"/>
</head>
<body>

    <nav class="page">
        <div class="logo">
            <div class="pivotal-logo"></div>
            <div class="spinnaker-deployer-logo">PCF <b>Spinnaker Deployer</b></div>
        </div>
    </nav>

    <header class="page-header">
        <h1>Deploy Spinnaker</h1>
    </header>

    <section class="page-header box box--tiny">
        <ul class="tabs">
            <li class="tabs__item active">
                <a id="settings-link" class="tabs__link">Settings</a>
            </li>
            <li class="tabs__item">
                <a id="status-link" class="tabs__link">Status</a>
            </li>
        </ul>
    </section>

    <section class="box box--tiny content__container">
        <div id="settings" class="content wrapper active">
            <h1>Spinnaker Settings</h1>
            <div id="all-settings" />
        </div>

        <div id="status" class="content wrapper">
            <h1>Spinnaker Status</h1>
            <div id="modules" />
        </div>
    </section>

    <script src="built/bundle.js"></script>

    <script>
        /**
         * A little JavaScript to enable toggling
         */
        (function() { // Wrapped in an IIFE to avoid global collisions

            var statusElem = document.getElementById('status');
            var statusLink = document.getElementById('status-link');

            var settings = document.getElementById('settings');
            var settingsLink = document.getElementById('settings-link');

            if (statusLink) {

                statusLink.onclick = function () {
                    settingsLink.parentNode.classList.remove('active');
                    settings.classList.remove('active');

                    statusLink.parentNode.classList.add('active');
                    statusElem.classList.add('active');
                };

                settingsLink.onclick = function () {
                    statusElem.classList.remove('active');
                    statusLink.parentNode.classList.remove('active');

                    settings.classList.add('active');
                    settingsLink.parentNode.classList.add('active');
                };
            }
            ;
        })();
    </script>

</body>
</html>